*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/*/build
/captures
.externalNativeBuild
.cxx

.kotlin/
local.properties

# Keystores
*.keystore
*.jks

# JVM crash logs
hs_err_pid*.log

# Secrets
secrets.properties
